{% extends "loggedin.html" %}

{% block title %}Teachity: Project Payment{% endblock title %}

{% block content %}
    <form action="{% url stripe_handle_payment project_id=project.id %}" method="post">
        {% csrf_token %}
        <div class="control-group">
            {{ form.non_field_errors }}
            {{ form.amount.errors }}
            <div class="control-label">{{ form.amount.label_tag }}</label>
            <div class="controls input-prepend">
                <span class="add-on">$</span>
                {{ form.amount }}
            </div>
            <script src="https://button.stripe.com/v1/button.js" class="stripe-button" data-key="{{ stripe_published_key }}"></script>
        </div>
    </form>
{% endblock content%}
