{% extends "django_messages/base.html" %}
{% load i18n %}
{% block content %}
<div class="span9">
<h1>{% trans "View Message" %}</h1>
<dl class="dl-horizontal">
    <dt>{% trans "Subject" %}</dt>
    <dd><strong>{{ message.subject }}</strong></dd>
    <dt>{% trans "Sender" %}</dt>
    <dd>{{ message.sender }}</dd>
    <dt>{% trans "Date" %} </dt>
    <dd>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</dd>
    <dt>{% trans "Message" %} </dt>
    <dd>{{ message.body|linebreaksbr }}</dd>
</dl>

<form class="form-horizontal">
<div class="control-group">
<div class="controls">
{% ifequal message.recipient.pk user.pk %}
<a class="btn" href="{% url messages_reply message.id %}">{% trans "Reply" %}</a>
{% endifequal %}
<a class="btn" href="{% url messages_delete message.id %}">{% trans "Delete" %}</a>
</div>
</div>
</form>
</div>
</div>
{% endblock %}