{% extends "base.html" %}
{% block title %}Teachity: Create Registration{% endblock %}
{% block content %}
<section> 
    <article>
        <div class="loginpnl fl">
            <h2>Account Created</h2>
            <p class="nmrl sntpass">
            Thank you for registering with Teachity.com! A verification email has been sent to your email address. If you are not able to locate it, please check your spam folder and add <a href="mailto:founders@teachity.com">founders@teachity.com</a> to your address book <br /> <br />
            Thanks,<br/>
            Teachity Team
            </p>
        </div>
        <div class="loginpnlR fr">
            <h2 class="size-25">Become a member of Teachity</h2>
            <h3 class="size-21">and connect to thousands of tutors and learners </h3> <br />
            <p>Morbi turpis odio, luctus sit amet cursus et, adipiscing eu turpis. Proin laoreet, elit eu tincidunt lacinia, lacus enim malesuada dui, Morbi turp is odio.</p>
            <img src="{{ STATIC_URL }}images/accessories/register-image.jpg"  alt=""/>
        </div>
         
        <div class="clear"></div>
     </article>
</section>
{% endblock %}
