{% extends "base.html" %}
{% block title %}Teachity: Forget Password{% endblock %}
{% block java %}
$(".ul-logout").hide();
{% endblock %}
{% block content %}
<section> 
<article>

 <div class="loginpnl fl">
 <h2>Password Retrieval</h2>
 <h3>Enter the email address associated with your Teachity account, then click submit. We will then email you your login detals.</h3>
<form id="frm_login" name="frm_login">
 
 <label> Email ID </label><div class="textbox"><input type="text"  id=""  /></div>
 <div class="clear"></div>
<!-- <label class="bg-none">&nbsp;</label> <p class="nmrl">Should be the same ID that you have used <br />during regitration</p>
 <div class="clear"></div> -->
 <label class="bg-none">&nbsp;</label> <input type="submit" id="" class="submit"/>
  <div class="clear"></div>
</form>
 </div>
<div class="loginpnlR fr">
<h2>Welcome to Teachity</h2>
<h3>We make online learning memorable</h3>
<img src="{{ STATIC_URL }}images/accessories/login-image.jpg" width="380" height="142" alt=""/>
<p>
Morbi turpis odio, luctus sit amet cursus et, adipiscing eu turpis. Proin laoreet, elit eu tincidunt lacinia, lacus enim malesuada dui, Morbi turp is odio, luctus sit amet cursus et, adipiscing eu turpis. Proin laoreet, eli t eu tincidunt lacinia, lacus enim malesuada dui.

</div>
 
 <div class="clear"></div>
 </article>
 </section>
 {% endblock %}
