{%extends "loggedin.html" %}
{% block title %}Teachity: Tutor Watch List{% endblock %}
{% block java %}
$("header").addClass("bdrb-none");
$(".ul-login").hide();
{% endblock %}
{% block content %}
<section>
<article>
<div class="priview-project learner-watch">
<h2 class="npdb">Watch List</h2>
<div class="learner-watch-bt">
<a href="#" id="selectAll">Select All</a> <input type="button" id="btn_delete" />
<div class="clear"></div>
</div>
 

 
 
<div class="tabs-div">
<div class="prj-bid">
<div class="prj-chkbox"> <input type="checkbox" id="" class="styled" name="chk" />
</div>
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div>
<div class="prj-bid">
<div class="prj-chkbox"> <input type="checkbox" id="" class="styled" name="chk" />
</div>
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div>
<div class="prj-bid">
<div class="prj-chkbox"> <input type="checkbox" id="" class="styled" name="chk" />
</div>
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div>
<div class="prj-bid">
<div class="prj-chkbox"> <input type="checkbox" id="" class="styled" name="chk" />
</div>
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div>
<div class="prj-bid">
<div class="prj-chkbox"> <input type="checkbox" id="" class="styled" name="chk" />
</div>
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div>
<div class="prj-bid">
<div class="prj-chkbox"> <input type="checkbox" id="" class="styled" name="chk" />
</div>
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div>
<div class="prj-bid">
<div class="prj-chkbox"> <input type="checkbox" id="" class="styled" name="chk" />
</div>
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div>
</div>
</div>
 
<div class="clear"></div>
</article>
</section>
{% endblock %}
