{%extends "loggedin.html" %}
{% block title %}Teachity: Search Tutor{% endblock %}
{% block java %}
$("header").addClass("bdrb-none");
$(".ul-login").hide();
{% endblock %}
{% block content %}
<section>
<article>
<div class="priview-project learner-watch search-tutor search-learner">
<div class="priview-search">
<div class="search-box">
<div class="fl"><img height="38" width="92" alt="Choose Project" src="{{ STATIC_URL }}images/bg/search-left.png"></div>
<div class="fl"><input type="text" id="txt_search"></div><div class="fl"> <input type="submit" id="btn_seach"></div>
<div class="clear"></div>
</div>
</div>


 
<div class="filter-box fl">
<h3>Filter your results</h3>
<h4>By Category</h4>
<ul> 
<li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Math</p><div class="clear"></div></li>
<li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Reading</p><div class="clear"></div></li>
<li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Writing</p><div class="clear"></div></li>
<li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Science</p><div class="clear"></div></li>
<li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Foreign Language</p><div class="clear"></div></li>
<li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Standardized Test Prep</p><div class="clear"></div></li>
<li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Professional Exam Prep</p><div class="clear"></div></li>
<li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>College Admissions</p><div class="clear"></div></li>
<li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Career Counseling</p><div class="clear"></div></li>
<li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Other</p><div class="clear"></div></li>
<li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>All</p><div class="clear"></div></li>
</ul>
<input type="submit" />
<div class="br">&nbsp;</div>

 

</div>
 
 
<div class="tabs-div fl">
<div class="search-res">
<div class="fl">Search Criteria : <span>Math Tutor</span></div> <div class="fr">Showing <span>1-6</span> of total <span>102</span> results</div>
<div class="clear"></div>
</div>

<div class="prj-bid">
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2> <div class="clear"></div>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div>
<div class="prj-bid">
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2> <div class="clear"></div>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div>
<div class="prj-bid">
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2> <div class="clear"></div>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div>
<div class="prj-bid">
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2> <div class="clear"></div>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div>
<div class="prj-bid">
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2> <div class="clear"></div>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div>
<div class="prj-bid">
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2> <div class="clear"></div>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div>
<div class="prj-bid">
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2> <div class="clear"></div>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div>
<div class="prj-bid">
<div class="prj-img"><img src="{{ STATIC_URL }}images/accessories/prj-bid.jpg" width="38" /></div>
<div class="prj-col">
<h2>Tutor name will come here</h2> <div class="clear"></div>
<h3>Newyork - USA</h3>
<p>Sed risus lectus, imperdiet a sagittis a, sollicitudin at tortor. Morbi eu leo vitae metus blandit luctus. Proin ligula risus, dictum vitae ultrices id, euismod non tellus. Nunc est augue, malesuada ut dapibus et, adipiscing </p>
</div>
<div class="clear"></div>
<ul>
<li class="bg-none"><span class="npdl">$12987 Career</span></li>
<li><span>3 jobs</span></li>
<li><span>Rating  <a href="#"><img src="{{ STATIC_URL }}images/icons/star.png" /></a></span></li>
<li><span>Category: Writing</span></li>
 
<div class="clear"></div>
</ul> 

<div class="clear"></div>
</div> 
 

<div class="foot-nav">
<ul>
<li class="fn-active"><a href="#">1</a></li>
<li> <a href="#">2</a></li>
<li> <a href="#">3</a></li>
<li> <a href="#">4</a></li>
<li> <a href="#">5</a></li>
<li class="no-margin"> <a href="#">6</a></li>
</ul>
</div>
 

</div>
<div class="clear"></div>
</div>
 
<div class="clear"></div>
</article>
</section>
{% endblock %}
