{%extends "loggedin.html" %}
{% block title %}Learner Dashboard{% endblock %}
{% block content %}
    <section>
        <article>
            <div class="postedproj fl">
                <h2>My Posted Projects</h2>

                <div class="proj-row">
                    <h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
                    <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
                    <ul>
                        <li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
                        <li><span>Status    :<a href="#"> Open </a></span></li>
                        <li class="bg-none"><span>Bids    :<a href="#"> 25 </a></span></li>
                        <div class="clear"></div>
                    </ul>
                </div>

                <div class="proj-row">
                    <h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
                    <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
                    <ul>
                        <li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
                        <li><span>Status    :<a href="#"> Open </a></span></li>
                        <li class="bg-none"><span>Bids    :<a href="#"> 25 </a></span></li>
                        <div class="clear"></div>
                    </ul>
                </div>

                <div class="proj-row">
                    <h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
                    <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
                    <ul>
                        <li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
                        <li><span>Status    :<a href="#"> Open </a></span></li>
                        <li class="bg-none"><span>Bids    :<a href="#"> 25 </a></span></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                
                <div class="proj-row">
                    <h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
                    <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
                    <ul>
                        <li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
                        <li><span>Status    :<a href="#"> Open </a></span></li>
                        <li class="bg-none"><span>Bids    :<a href="#"> 25 </a></span></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                
                <div class="proj-row">
                    <h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
                    <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
                    <ul>
                        <li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
                        <li><span>Status    :<a href="#"> Open </a></span></li>
                        <li class="bg-none"><span>Bids    :<a href="#"> 25 </a></span></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                
                <div class="proj-row">
                    <h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
                    <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
                    <ul>
                        <li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
                        <li><span>Status    :<a href="#"> Open </a></span></li>
                        <li class="bg-none"><span>Bids    :<a href="#"> 25 </a></span></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                
                <div class="proj-row">
                    <h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
                    <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
                    <ul>
                        <li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
                        <li><span>Status    :<a href="#"> Open </a></span></li>
                        <li class="bg-none"><span>Bids    :<a href="#"> 25 </a></span></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                
                <div class="proj-row">
                    <h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
                    <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
                    <ul>
                        <li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
                        <li><span>Status    :<a href="#"> Open </a></span></li>
                        <li class="bg-none"><span>Bids    :<a href="#"> 25 </a></span></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                
                <div class="proj-row">
                    <h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
                    <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
                    <ul>
                        <li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
                        <li><span>Status    :<a href="#"> Open </a></span></li>
                        <li class="bg-none"><span>Bids    :<a href="#"> 25 </a></span></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                
                <div class="proj-row">
                    <h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
                    <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
                    <ul>
                        <li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
                        <li><span>Status    :<a href="#"> Open </a></span></li>
                        <li class="bg-none"><span>Bids    :<a href="#"> 25 </a></span></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                                                                                                                    
                <div class="view-more-jobs">
                    <a href="#"><img src="{{ STATIC_URL }}images/inputs/btn_morejobs.png" width="234" height="38" alt="view more jobs" /></a>
                </div>
            </div>

            <!-- Mail box -->
            <div class="mail-box fr">
                <h3>Inbox</h3>
                <ul> 
                    <li><a href="#"><strong>All Messages  <span> 17</span></strong></a></li>
                    <li><a href="#"><strong>Unread  <span>2</span></strong></a></li>
                    <li> <a href="#">Project Messages<span>08</span></a>
                    <li> <a href="#">Notifications  <span>09</span></a>
                </ul>
            </div>

            <div class="clear"></div>
        </article>
    </section>
{% endblock %}
