<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Teachity: Edit Tutor Profile </title>
<!-- Java Script Section -->
<script language="javascript" type="text/javascript" src="js/jquery-1.7.1.js"></script>
<script language="javascript" type="text/javascript" src="js/html5/html5.js"></script>
<script language="javascript" type="text/javascript" src="js/form-element.js"></script>
<link rel="stylesheet" type="text/css" href="css/monstrator.css" />
<link rel="stylesheet" type="text/css" href="css/form-element.css" />

<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie-fix.css" />
<![endif]-->

<script language="javascript" type="text/javascript">
$(document).ready(function(e) {
// for file upload button	
 initFileUploads();
	$("header").addClass("bdrb-none");
	$(".ul-login").hide();
   
});


 


</script> 

</head>
<body>
 
<!-- Top Navigatin Section --><!-- #BeginLibraryItem "/Library/top-navigation.lbi" -->
<header>
<nav id="top-nav">
<h2 class="fl"><a href="index.html">Teachity</a></h2>
<ul class="fr ul-login">
<li><a href="login.html">Login</a> </li>
<li>|</li>
<li><a href="registration.html">Register</a></li>
<li>|</li>
<li><a href="contact_us.html">Contact Us</a></li>
<li><a href="#" class="npdr"><img src="images/inputs/btn_postProject.png" alt="Post a Project" width="148" height="38"></a></li>
</ul>

<ul class="fr ul-logout">
<li>Welcome Time Cooper,  </li>
<li><a href="index.html" class="npdr">logout</a></li>
</ul>
<div class="clear"></div>
</nav>
</header><!-- #EndLibraryItem --><!-- Main Navigation --><!-- #BeginLibraryItem "/Library/navigation.lbi" --><nav>
<nav>
<ul class="fl"> 
<li id="nMyaccout"><a href="#">MY ACCOUNT </a></li>
<li id="nMyProjects"><a href="#">MY PROJECTS </a></li>
<li id="nInbox"><a href="#">INBOX </a></li>
<li id="nProject"><a href="#">PROJECTS </a></li>
<li id="nTutuor" class="bdr-none"><a href="#">TUTORS</a></li>                                          
</ul>

<!-- For Seach Option -->
<div class="tuter-search fr">
<div class="fl"><img src="images/inputs/tuter-s-1.png" width="85" height="29" /></div>
<div class="fl"><input type="text" id="" /></div>
<div class="fl"><input type="button" id="" /></div>
</div>
<div class="clear"></div>
</nav>

</nav><!-- #EndLibraryItem --><section>
<article>
 <div class="loginpnl tutor-pro fl">
 <h2>Edit your profile </h2>
 <form id="frm_reg">
 <label>Name</label><div class="textbox"> <input type="text" id="" value="Harish Adams"     /> </div>
 <div class="clear"></div>
 
  <label>Email Address</label><div class="textbox"> <input type="text" id=""  value="harris@adams.com"    /> </div>
 <div class="clear"></div>
 
  <label>City</label><div class="textbox"> <input type="text" id=""  value="My Address"    /> </div>
 <div class="clear"></div>
  <label>Country</label> 
  <div class="ddl"> 
  <select id="ddl_country" class="styled"> 
   <option>United States</option>
  </select>
  </div>
<div class="clear"></div>
 
 
   <label>Time Zone</label> 
  <div class="ddl"> 
  <select id="ddl_timezone" class="styled"> 
   <option>+10.30 Alaska</option>
  </select>
  </div>
<div class="clear"></div>

 <label>About</label> 
 <div class="textarea">
 <textarea id="">I am a tutor</textarea>
 </div>
 <div class="clear"></div>
  <label>Upload Resume</label> <div class="ddl"> <a href="#">Resume.doc</a></div>
 <div class="clear"></div>
 
  <label>Skills</label> 
 <div class="textarea">
 <textarea id="">I can teach nonstop</textarea>
 </div>
 <div class="clear"></div>
 
 <label style="line-height:normal">Company/ School/<br />Institution </label> 
<div class="textbox"> <input type="text" id="" value="The Tutors"    /> </div>
 <div class="clear"></div>
  <label>Other Qualifications</label> <div class="textarea">
 <textarea id="">MSc in mathematics</textarea>
 </div>
 <div class="clear"></div>
 
 <label>Upload your image</label>  
<div class="textarea">
<div class="fileinputs">
<input type="file" class="file" /></div>
</div>
<div class="clear"></div>
 <input type="submit" class=""> 
 <div class="clear"></div>
 </form> 

 
 
</div> 
 
<div class="loginpnlR  fr" style="padding-top:25px">
<h2 class="proh2">Make sure your profile is complete</h2>
<h3 class="proh3">so that learners can make a good decision</h3>
<p>Morbi turpis odio, luctus sit amet cursus et, adipiscing eu turpis. Proin laoreet, elit eu tincidunt lacinia, lacus enim malesuada dui, Morbi turp is odio.</p> <br/ >
<br />
<img src="images/accessories/tutor-profile.jpg" width="375" />

</div>
 
 <div class="clear"></div>
 </article>
 </section><!-- #BeginLibraryItem "/Library/footer.lbi" --><footer>
<section>
<nav class="fl">
<ul>
<li><a href="index.html" class="npdl">Home</a> </li> 
<li>|</li>
<li><a href="#">About</a> </li> 
<li>|</li>
<li><a href="#">Terms</a> </li> 
<li>|</li>
<li><a href="#">Help</a> </li> 
<li>|</li>
<li><a href="#">Privacy</a> </li> 
<li>|</li>
<li><a href="#">Sitemap</a> </li> 
<li>|</li>
<li><a href="#">Contact</a> </li> 
<div class="clear"></div> 
</ul>
<p>© 2012 Teachity.  All Rights Reserved.</p>
</nav>

<address class="fr">
<p><a href="#"><img src="images/icons/facebook.png" width="16" height="16" alt="facebook"/></a><a href="#"><img src="images/icons/taveet.png" width="16" height="16" alt="taveet"/></a>
<a href="#"><img src="images/icons/flicker.png" width="16" height="16" alt="flicker"/></a>
<a href="#"><img src="images/icons/youtube.png" width="16" height="16" alt="youtube"/></a>
Follow us  </p>
<p>Website By : <a href="http://newmediaguru.co.uk"> New Media Guru</a></p>
</address>

</section>
<div class="clear"></div>
</footer><!-- #EndLibraryItem --><div class="clear"></div>
</section>
</article> 


</body>
</html>
