{% extends "loggedin.html" %}
{% block title %}Browse Projects {% endblock %}
{% block content %}
<section>
    <article>
        <div class="priview-project tuter-watch search-tutor">
            <div class="clear"></div>
            <div class="filter-box fl">
                <h3>Filter your results</h3>
                <h4>By Category</h4>
                <ul> 
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Math</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Reading</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Writing</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Science</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Foreign Language</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Standardized Test Prep</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Professional Exam Prep</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>College Admissions</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Career Counseling</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>Other</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>All</p><div class="clear"></div></li>
                </ul>
                <input type="submit" />
                <div class="br">&nbsp;</div>

                <h4>By Price</h4>
                <ul> 
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>>500$</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>500$-1000$</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>1000$-2500$</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>2500$-5000$</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>5000$-7500$</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>7500$-10000$</p><div class="clear"></div></li>
                    <li><div class="check-box"><input type="checkbox" class="styled" /></div> <p>10000$ +</p><div class="clear"></div></li>
                </ul>
                <input type="submit" />

            </div>
             
             
            <div class="tabs-div fl">
                <div class="search-res">
                    <div class="fl">Search Criteria : <span>Mathematics</span></div> <div class="fr">Showing <span>1-6</span> of total <span>102</span> results</div>
                    <div class="clear"></div>
                </div>

                <div class="prj-bid">
                    <div class="prj-col">
                        <h2>Need a tutor to teach Mathematics and English</h2><div class="clear"></div>
                        <h3>Posted By : <a href="#">Sebastian</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sem justo, scelerisq ue rhoncus tortor. In et velit risus. Ut eget massa elit, ut consequat ante <a href="#">[+]</a></p>
                        <ul>
                            <li><span class="npdl">Category    :    Mathematics  </span></li>
                            <li><span> Status    :    Open</span></li>
                            <li><span> Bids    :    25</span></li>
                            <li  class="bg-none"><span>Budget    :    $250</span></li>
                            <div class="clear"></div>
                        </ul> 
                    </div>
                    <div class="clear"></div>
                </div>
            
                <div class="prj-bid">
                    <div class="prj-col">
                        <h2>Need a tutor to teach Mathematics and English</h2><div class="clear"></div>
                        <h3>Posted By : <a href="#">Sebastian</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sem justo, scelerisq ue rhoncus tortor. In et velit risus. Ut eget massa elit, ut consequat ante <a href="#">[+]</a></p>
                        <ul>
                            <li><span class="npdl">Category    :    Mathematics  </span></li>
                            <li><span> Status    :    Open</span></li>
                            <li><span> Bids    :    25</span></li>
                            <li  class="bg-none"><span>Budget    :    $250</span></li>
                            <div class="clear"></div>
                        </ul> 
                    </div>
                    <div class="clear"></div>
                </div>
                
                <div class="prj-bid">
                    <div class="prj-col">
                        <h2>Need a tutor to teach Mathematics and English</h2><div class="clear"></div>
                        <h3>Posted By : <a href="#">Sebastian</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sem justo, scelerisq ue rhoncus tortor. In et velit risus. Ut eget massa elit, ut consequat ante <a href="#">[+]</a></p>
                        <ul>
                            <li><span class="npdl">Category    :    Mathematics  </span></li>
                            <li><span> Status    :    Open</span></li>
                            <li><span> Bids    :    25</span></li>
                            <li  class="bg-none"><span>Budget    :    $250</span></li>
                            <div class="clear"></div>
                        </ul> 
                    </div>
                    <div class="clear"></div>
                </div>
                
                <div class="prj-bid">
                    <div class="prj-col">
                        <h2>Need a tutor to teach Mathematics and English</h2><div class="clear"></div>
                        <h3>Posted By : <a href="#">Sebastian</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sem justo, scelerisq ue rhoncus tortor. In et velit risus. Ut eget massa elit, ut consequat ante <a href="#">[+]</a></p>
                        <ul>
                            <li><span class="npdl">Category    :    Mathematics  </span></li>
                            <li><span> Status    :    Open</span></li>
                            <li><span> Bids    :    25</span></li>
                            <li  class="bg-none"><span>Budget    :    $250</span></li>
                            <div class="clear"></div>
                        </ul> 
                    </div>
                    <div class="clear"></div>
                </div>
                
                <div class="prj-bid">
                    <div class="prj-col">
                        <h2>Need a tutor to teach Mathematics and English</h2><div class="clear"></div>
                        <h3>Posted By : <a href="#">Sebastian</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sem justo, scelerisq ue rhoncus tortor. In et velit risus. Ut eget massa elit, ut consequat ante <a href="#">[+]</a></p>
                        <ul>
                            <li><span class="npdl">Category    :    Mathematics  </span></li>
                            <li><span> Status    :    Open</span></li>
                            <li><span> Bids    :    25</span></li>
                            <li  class="bg-none"><span>Budget    :    $250</span></li>
                            <div class="clear"></div>
                        </ul> 
                    </div>
                    <div class="clear"></div>
                </div>
                
                <div class="prj-bid">
                    <div class="prj-col">
                        <h2>Need a tutor to teach Mathematics and English</h2><div class="clear"></div>
                        <h3>Posted By : <a href="#">Sebastian</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sem justo, scelerisq ue rhoncus tortor. In et velit risus. Ut eget massa elit, ut consequat ante <a href="#">[+]</a></p>
                        <ul>
                            <li><span class="npdl">Category    :    Mathematics  </span></li>
                            <li><span> Status    :    Open</span></li>
                            <li><span> Bids    :    25</span></li>
                            <li  class="bg-none"><span>Budget    :    $250</span></li>
                            <div class="clear"></div>
                        </ul> 
                    </div>
                    <div class="clear"></div>
                </div>
             

                <div class="foot-nav">
                    <ul>
                        <li class="fn-active"><a href="#">1</a></li>
                        <li> <a href="#">2</a></li>
                        <li> <a href="#">3</a></li>
                        <li> <a href="#">4</a></li>
                        <li> <a href="#">5</a></li>
                        <li class="no-margin"> <a href="#">6</a></li>
                    </ul>
                </div>
             
            </div>
            <div class="clear"></div>
        </div>
         
    <div class="clear"></div>
    </article>
</section>
{% endblock %}
