<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Teachity: Inbox </title>
<!-- Java Script Section -->
<script language="javascript" type="text/javascript" src="js/jquery-1.7.1.js"></script>
<script language="javascript" type="text/javascript" src="js/html5/html5.js"></script>
<script language="javascript" type="text/javascript" src="js/form-element.js"></script>

<link rel="stylesheet" type="text/css" href="css/monstrator.css" />
<!-- form Element -->
<link rel="stylesheet" type="text/css" href="css/form-element.css" />
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie-fix.css" />
<![endif]-->
<script language="javascript" type="text/javascript">
$(document).ready(function(e) {
	$(".ul-logout").hide();
	$("#txt_Newsname").click(function(){
		$(this).attr('value','');
	}).blur(function(){
		if(!$(this).attr('value')) $(this).attr('value','your name');
	});
	
	$("#txt_Newsemail").click(function(){
		$(this).attr('value','');
	}).blur(function(){
		if(!$(this).attr('value')) $(this).attr('value','your email');
	});
    
});


</script>
 
 
 

 </head>
<body>
<!-- Top Navigatin Section --><!-- #BeginLibraryItem "/Library/top-navigation.lbi" -->
<header>
<nav id="top-nav">
<h2 class="fl"><a href="index.html">Teachity</a></h2>
<ul class="fr ul-login">
<li><a href="login.html">Login</a> </li>
<li>|</li>
<li><a href="registration.html">Register</a></li>
<li>|</li>
<li><a href="contact_us.html">Contact Us</a></li>
<li><a href="#" class="npdr"><img src="images/inputs/btn_postProject.png" alt="Post a Project" width="148" height="38"></a></li>
</ul>

<ul class="fr ul-logout">
<li>Welcome Time Cooper,  </li>
<li><a href="index.html" class="npdr">logout</a></li>
</ul>
<div class="clear"></div>
</nav>
</header><!-- #EndLibraryItem --><section> 
<article class="inbox">
<h2>Inbox - Your Messages</h2>
 <div class="msg-left fl">
 <ul> 
 <li class="first"><a href="#">All Messages</a></li>
 <li><a href="#">Project Message</a></li>
  <li><a href="#">Notifications</a></li>
 </ul>
 </div>
 <div class="msg-mid fl">
 <div class="rows-m">
 <div>
 <div class="fl">
 <span>From :   <small>Name Here</small></span>
 </div>
 <div class="fr">
 <span>    JobName :   <small>Need a Tutor to teach asp.net progr..</small></span>
 </div>
 <div class="clear"></div>
 </div>
 <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss</p>
 <span>17 Feb 2012    </span>
 </div>
 <div class="rows-m">
 <div>
 <div class="fl">
 <span>From :   <small>Name Here</small></span>
 </div>
 <div class="fr">
 <span>    JobName :   <small>Need a Tutor to teach asp.net progr..</small></span>
 </div>
 <div class="clear"></div>
 </div>
 <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss</p>
 <span>17 Feb 2012    </span>
 </div>
 <div class="rows-m">
 <div>
 <div class="fl">
 <span>From :   <small>Name Here</small></span>
 </div>
 <div class="fr">
 <span>    JobName :   <small>Need a Tutor to teach asp.net progr..</small></span>
 </div>
 <div class="clear"></div>
 </div>
 <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss</p>
 <span>17 Feb 2012    </span>
 </div>
 <div class="rows-m">
 <div>
 <div class="fl">
 <span>From :   <small>Name Here</small></span>
 </div>
 <div class="fr">
 <span>    JobName :   <small>Need a Tutor to teach asp.net progr..</small></span>
 </div>
 <div class="clear"></div>
 </div>
 <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss</p>
 <span>17 Feb 2012    </span>
 </div>
 <div class="rows-m">
 <div>
 <div class="fl">
 <span>From :   <small>Name Here</small></span>
 </div>
 <div class="fr">
 <span>    JobName :   <small>Need a Tutor to teach asp.net progr..</small></span>
 </div>
 <div class="clear"></div>
 </div>
 <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss</p>
 <span>17 Feb 2012    </span>
 </div>
 <div class="rows-m">
 <div>
 <div class="fl">
 <span>From :   <small>Name Here</small></span>
 </div>
 <div class="fr">
 <span>    JobName :   <small>Need a Tutor to teach asp.net progr..</small></span>
 </div>
 <div class="clear"></div>
 </div>
 <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss</p>
 <span>17 Feb 2012    </span>
 </div>
 <div class="rows-m">
 <div>
 <div class="fl">
 <span>From :   <small>Name Here</small></span>
 </div>
 <div class="fr">
 <span>    JobName :   <small>Need a Tutor to teach asp.net progr..</small></span>
 </div>
 <div class="clear"></div>
 </div>
 <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss</p>
 <span>17 Feb 2012    </span>
 </div>
 <div class="rows-m">
 <div>
 <div class="fl">
 <span>From :   <small>Name Here</small></span>
 </div>
 <div class="fr">
 <span>    JobName :   <small>Need a Tutor to teach asp.net progr..</small></span>
 </div>
 <div class="clear"></div>
 </div>
 <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss</p>
 <span>17 Feb 2012    </span>
 </div>

<div align="center" class="more-message">
<a href="#"><img src="images/inputs/btn_moremessage.png" width="234" height="38" /></a>
</div>
 
 
 </div>
 <div class="msg-right fl">
 <p>My Working Projects</p>
 <span> No projects right now!</span>
 </div> 
  
 
 <div class="clear"></div>
 </article>
 </section><!-- #BeginLibraryItem "/Library/footer-in.lbi" -->
<footer>
<section>
<nav class="fl">
<ul>
<li><a href="index.html" class="npdl">Home</a> </li> 
<li>|</li>
<li><a href="#">About</a> </li> 
<li>|</li>
<li><a href="#">Terms</a> </li> 
<li>|</li>
<li><a href="#">Help</a> </li> 
<li>|</li>
<li><a href="#">Privacy</a> </li> 
<li>|</li>
<li><a href="#">Sitemap</a> </li> 
<li>|</li>
<li><a href="#">Contact</a> </li> 
<div class="clear"></div> 
</ul>
<p>© 2012 Teachity.  All Rights Reserved.</p>
<address class="fl" style="text-align:left">
<p> Follow us   <a href="#"><img src="images/icons/facebook.png" width="16" height="16" alt="facebook"/></a><a href="#"><img src="images/icons/taveet.png" width="16" height="16" alt="taveet"/></a>
<a href="#"><img src="images/icons/flicker.png" width="16" height="16" alt="flicker"/></a>
<a href="#"><img src="images/icons/youtube.png" width="16" height="16" alt="youtube"/></a>
</p>
<p>Website By : <a href="http://newmediaguru.co.uk"> New Media Guru</a></p>
</address>
</nav>

<div class="newletter fr">
<h3>Signup for newsletter</h3>
<div class="txt-news"><input type="text" id="txt_Newsname" value="your name"></div><div class="txt-news"> <input type="text" id="txt_Newsemail" value="your email"> </div>
<div class="clear"></div>
<input type="submit" >

</div>





</section>
<div class="clear"></div>
</footer><!-- #EndLibraryItem --></body>
</html>
