{% extends "loggedin.html" %}
    {% block title %}Submit a Bid{% endblock %}
    {% block content %}
        <section>
            <article>
                <div class="priview-project">
                    <h2 class="npdb">Need a tutor to teach Mathematics and English <a href="#">Add to Watchlist</a></h2>
                    <h3 class="priviewh3">Posted By : Sebastian</h3>
                    <div class="bid-left">
                        <div class="cat-row">
                            <div class="line"><span class="bdr-none">Category    :    Mathematics</span> <span class="bdr-none fr">Type    :    OneTime </span>
                                <div class="clear"></div>
                            </div>
                            <div class="line"><span >Budget    :    1200USD (Fixed)</span> <span class="bdr-none fr">Expires On    :    13/12/2012</span>
                                <div class="clear"></div>
                            </div>

                        </div>
                        <h3 style="padding-top:45px">Project Description</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sem justo, scelerisque rhoncus tortor. In et velit risus. Ut eget massa elit, ut consequat ante. Pellentesque sit amet nisi nulla. Phasellus dui est, laoreet sed dapibus vitae, commodo vitae enim. Nunc convallis dui leo. Vivamus et eros congue nunc laoreet posuere. Vestibulum egestas luctus velit, et condimentum neque ultrices non. Donec vestibulum dolor nec lectus pretium adipiscing quis sagittis dui. Pellentesque tempus, ipsum vel facilisis sollicitudin, ipsum dolor convallis elit, eu imperdiet felis nisl non metus.</p>
                        <p class="bdr-bottom">Donec vel mauris diam, convallis hendrerit lacus. Donec malesuada feugiat risus, vitae tincidunt ante viverra at. Donec eget purus sem. Suspendisse eget posuere enim. Nunc molestie eros arcu, vel rutrum ante. Duis rhoncus lectus non sem posuere gravida. Nulla semper nisl in elit porta congue. Fusce consequat libero adipiscing eros blandit consectetur. Duis ultrices laoreet orci et sollicitudin. Nullam convallis dolor ac urna dapibus pretium in ut orci. Fusce molestie felis sed metus molestie porta. Nam adipiscing placerat nisi, sed accumsan orci mattis vitae.</p>
                        <div class="bdr-bottom">
                            <div class="reqsf fl"> 
                                <h3>Required Skills</h3>
                                <ul> 
                                    <li>Lorem ipsum dolor sit ame onsectetur </li>
                                    <li>Adipiscing el c id sem justo celerisque rhoncu </li>
                                    <li>Tortor  et velit ris eget massa eli t cons </li>
                                    <li>Equat ante ellentesque sit amet n hasellus du </li>
                                    <li>Est laoreet sed dapibus vita commodo </li>
                                </ul>
                            </div>

                            <div class="reqsf fr"> 
                                <h3>Files</h3>
                                <ul> 
                                    <li>Lorem ipsum dolor.docx</li>
                                    <li>Adipiscing el c id sem.jpeg</li>
                                    <li>Equat ante ellentesq.pptx</li>
                                    <li>Est laoreet sed dapibus.png </li>
                                </ul>
                            </div>
                            <div class="clear"> </div>
                        </div>
                    </div>

                    <div class="bid-right">
                        <div class="bid-content">
                            <div class="bid-msg">
                                <h3>Thank you for submitting your bid!</h3>
                                <h3><a href="#"><img src="images/inputs/btn_edit.png" width="65" /></a> </h3>
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="details-tabs">
                        <div class="tabed">
                            <ul> 
                                <li><a href="#tabed1">Proposals</a></li>
                                <li><a href="#tabed2">Message</a></li>
                                <li><a href="#tabed3">Rating & Reviews</a></li>
                            </ul>
                        </div>

                    <div class="tabs-container">
                        <div id="tabed1" class="tabs-div">
                            <div class="prj-bid">
                                <div class="prj-img"><img src="images/accessories/prj-bid.jpg" width="38" /></div>
                                <div class="prj-col">
                                    <h2>Tutor name will come here</h2>
                                    <h3>Newyork - USA</h3>
                                    <ul>
                                        <li class="bg-none"><span class="npdl">$12987 Career</span></li>
                                        <li><span>3 jobs</span></li>
                                        <li><span>Rating  <a href="#"><img src="images/icons/star.png" /></a></span></li>
                                        <li><span>Submitted: Feb 22, 2012 07:51 ET</span></li>
                                        <li><span>Messages : <a href="#" class="new"> 2 </a></span></li> 
                                        <div class="clear"></div>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere ligula ac dui hendrerit condimentum. Sed in est risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi laoreet, odio ac rutrum venenatis, orci erat pretium nisl, eu posuere magna metus vel felis. Vivamus interdum, elit quis laoreet pellentesque, odio lectus auctor leo, sit amet consequat felis nulla quis nulla. Phasellus laoreet purus eu tellus imperdiet mattis viverra metus suscipit. Vivamus facilisis fringilla nisl at malesuada. Integer sed iaculis nunc. Curabitur lacinia tincidunt congue.</p>
                                    <ul class="bidul"> 
                                        <li class="bg-none"><h3 class="npdl">Bid Amount: <span>1200 USD </span></h3> </li>
                                        <li><h3>Duration: <span>1 Month </span></h3> </li>
                                        <li class="fr bg-none">
                                            <input type="button" class="btn_sndmsg" />
                                            <input type="button" class="btn_dbid" />
                                            <input type="button" class="btn_award" />
                                        </li> 
                                        <div class="clear"></div>
                                    </ul>
                                </div>

                            <div class="clear"></div>
                            </div>
                        </div>
                <!-- Tabign Section close here -->
                    </div>
                </div>                                                            
                <div class="clear"></div>
            </article>
        </section>
    {% endblock %}
