<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Teachity: Award a Project </title>
<!-- Java Script Section -->
<script language="javascript" type="text/javascript" src="js/jquery-1.7.1.js"></script>
<script language="javascript" type="text/javascript" src="js/html5/html5.js"></script>

<link rel="stylesheet" type="text/css" href="css/monstrator.css" />

<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie-fix.css" />
<![endif]-->

<script language="javascript" type="text/javascript">
$(document).ready(function(e) {
	$("header").addClass("bdrb-none");
	$(".ul-login").hide();
    
});
</script>

</head>
<body>
<!-- Top Navigatin Section --><!-- #BeginLibraryItem "/Library/top-navigation.lbi" -->
<header>
<nav id="top-nav">
<h2 class="fl"><a href="index.html">Teachity</a></h2>
<ul class="fr ul-login">
<li><a href="login.html">Login</a> </li>
<li>|</li>
<li><a href="registration.html">Register</a></li>
<li>|</li>
<li><a href="contact_us.html">Contact Us</a></li>
<li><a href="#" class="npdr"><img src="images/inputs/btn_postProject.png" alt="Post a Project" width="148" height="38"></a></li>
</ul>

<ul class="fr ul-logout">
<li>Welcome Time Cooper,  </li>
<li><a href="index.html" class="npdr">logout</a></li>
</ul>
<div class="clear"></div>
</nav>
</header><!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/navigation.lbi" --><nav>
<nav>
<ul class="fl"> 
<li id="nMyaccout"><a href="#">MY ACCOUNT </a></li>
<li id="nMyProjects"><a href="#">MY PROJECTS </a></li>
<li id="nInbox"><a href="#">INBOX </a></li>
<li id="nProject"><a href="#">PROJECTS </a></li>
<li id="nTutuor" class="bdr-none"><a href="#">TUTORS</a></li>                                          
</ul>

<!-- For Seach Option -->
<div class="tuter-search fr">
<div class="fl"><img src="images/inputs/tuter-s-1.png" width="85" height="29" /></div>
<div class="fl"><input type="text" id="" /></div>
<div class="fl"><input type="button" id="" /></div>
</div>
<div class="clear"></div>
</nav>

</nav><!-- #EndLibraryItem --><section>
<article>
<div class="postedproj fl">
<h2>Projects Awarded</h2>
<div class="proj-row">
<h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
<p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
<ul>
<li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
<li><span>Awarded On    :    12FEB 2012        </span></li>
<li class="bg-none"><span>Status    :<a href="#"> Working </a></span></li>

<div class="clear"></div>
</ul>
</div>
<div class="proj-row">
<h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
<p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
<ul>
<li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
<li><span>Awarded On    :    12FEB 2012        </span></li>
<li class="bg-none"><span>Status    :<a href="#"> Working </a></span></li>

<div class="clear"></div>
</ul>
</div>
<div class="proj-row">
<h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
<p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
<ul>
<li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
<li><span>Awarded On    :    12FEB 2012        </span></li>
<li class="bg-none"><span>Status    :<a href="#"> Working </a></span></li>

<div class="clear"></div>
</ul>
</div>
<div class="proj-row">
<h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
<p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
<ul>
<li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
<li><span>Awarded On    :    12FEB 2012        </span></li>
<li class="bg-none"><span>Status    :<a href="#"> Working </a></span></li>

<div class="clear"></div>
</ul>
</div>
<div class="proj-row">
<h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
<p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
<ul>
<li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
<li><span>Awarded On    :    12FEB 2012        </span></li>
<li class="bg-none"><span>Status    :<a href="#"> Working </a></span></li>

<div class="clear"></div>
</ul>
</div>
<div class="proj-row">
<h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
<p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
<ul>
<li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
<li><span>Awarded On    :    12FEB 2012        </span></li>
<li class="bg-none"><span>Status    :<a href="#"> Working </a></span></li>

<div class="clear"></div>
</ul>
</div>
<div class="proj-row">
<h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
<p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
<ul>
<li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
<li><span>Awarded On    :    12FEB 2012        </span></li>
<li class="bg-none"><span>Status    :<a href="#"> Working </a></span></li>

<div class="clear"></div>
</ul>
</div>
<div class="proj-row">
<h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
<p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
<ul>
<li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
<li><span>Awarded On    :    12FEB 2012        </span></li>
<li class="bg-none"><span>Status    :<a href="#"> Working </a></span></li>

<div class="clear"></div>
</ul>
</div>
<div class="proj-row">
<h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
<p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
<ul>
<li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
<li><span>Awarded On    :    12FEB 2012        </span></li>
<li class="bg-none"><span>Status    :<a href="#"> Working </a></span></li>

<div class="clear"></div>
</ul>
</div>
<div class="proj-row">
<h3>I need a asp.net tutor to teach me the latest techniques online!</h3>
<p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis met ss aptent taciti </p>
<ul>
<li><span class="npdl">Category    :<a href="#"> Mathematics </a></span></li>
<li><span>Awarded On    :    12FEB 2012        </span></li>
<li class="bg-none"><span>Status    :<a href="#"> Working </a></span></li>

<div class="clear"></div>
</ul>
</div> 
 
 
 
 
 
 
 
<div class="view-more-jobs">
<a href="#"><img src="images/inputs/btn_morejobs.png" width="234" height="38" alt="view more jobs" /></a>
</div>
</div>

<!-- Mail box -->
<div class="mail-box fr">
<h3>Inbox</h3>
<ul> 
<li><a href="#"><strong>All Messages  <span> 17</span></strong></a></li>
<li><a href="#"><strong>Unread  <span>2</span></strong></a></li>
<li> <a href="#">Project Messages<span>08</span></a>
<li> <a href="#">Notifications  <span>09</span></a>
</ul>
</div>

<div class="clear"></div>
</article>
</section><!-- #BeginLibraryItem "/Library/footer.lbi" --><footer>
<section>
<nav class="fl">
<ul>
<li><a href="index.html" class="npdl">Home</a> </li> 
<li>|</li>
<li><a href="#">About</a> </li> 
<li>|</li>
<li><a href="#">Terms</a> </li> 
<li>|</li>
<li><a href="#">Help</a> </li> 
<li>|</li>
<li><a href="#">Privacy</a> </li> 
<li>|</li>
<li><a href="#">Sitemap</a> </li> 
<li>|</li>
<li><a href="#">Contact</a> </li> 
<div class="clear"></div> 
</ul>
<p>© 2012 Teachity.  All Rights Reserved.</p>
</nav>

<address class="fr">
<p><a href="#"><img src="images/icons/facebook.png" width="16" height="16" alt="facebook"/></a><a href="#"><img src="images/icons/taveet.png" width="16" height="16" alt="taveet"/></a>
<a href="#"><img src="images/icons/flicker.png" width="16" height="16" alt="flicker"/></a>
<a href="#"><img src="images/icons/youtube.png" width="16" height="16" alt="youtube"/></a>
Follow us  </p>
<p>Website By : <a href="http://newmediaguru.co.uk"> New Media Guru</a></p>
</address>

</section>
<div class="clear"></div>
</footer><!-- #EndLibraryItem --><div class="clear"></div>
</section>
</article> 


</body>
</html>
