{% extends "loggedin.html" %}
{% block title %}Tutor Profile{% endblock %}
{% block content %}
    <section>
        <article>
            <div class="loginpnl view-profile fl">
                <div class="profile-image fl">
                    <img src="images/accessories/profile-image01.jpg" width="100" />
                </div>
                <div class="profile-text fl">
                    <h2>Harris Adams <span>(Tutor) </span></h2>
                    <p>South Bend, IN, USA </p>
                    <p>Email : tim@cooper.com </p>
                    <a href="#" class="certified">&nbsp;</a>
                </div>
                <div class="clear"></div>
                <h3>About Adams</h3>
                <p>Etiam hendrerit dignissim ipsum, eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>

                <p>Vestibulum hendrerit semper aliquet. In velit diam, hendrerit vel dictum eget, elementum sit amet libero. Nulla facilisi. Nunc facilisis, massa nec egestas hendrerit, nisl lectus rhoncus elit, in semper elit massa eget odio. </p>

                <h3>Skills</h3>
                <ul> 
                    <li> Etiam hendrerit dignissim ipsu </li>
                    <li> Odales magna consectetur  </li>
                    <li> Bi egestas, risus at egestas dictu </li>
                    <li> Cu leo fermentum dolo </li>
                    <li> Acilisis sem velit quis metu </li>
                    <li> Aptent taciti sociosqu ad lito </li>
                </ul>

                <h3>Qualifications</h3>
                <p>Eget sodales magna consectetur at. Morbi egestas, risus at egestas dictum, arcu leo fermentum dolor, eu facilisis sem velit quis metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>

                <p>Vestibulum hendrerit semper aliquet. In velit diam, hendrerit vel dictum eget, elementum sit amet libero. </p>

            </div>
            <div class="loginpnlR  fr" style="padding-top:25px"></div>


             
            <div class="clear"></div>
        </article>
    </section>
{% endblock %}
