<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Teachity: Tutor My Credits </title>
<!-- Java Script Section -->
<script language="javascript" type="text/javascript" src="js/jquery-1.7.1.js"></script>
<script language="javascript" type="text/javascript" src="js/html5/html5.js"></script>
<script language="javascript" type="text/javascript" src="js/form-element.js"></script>
<link rel="stylesheet" type="text/css" href="css/monstrator.css" />
<link rel="stylesheet" type="text/css" href="css/form-element.css" />
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie-fix.css" />
<![endif]-->
<script language="javascript" type="text/javascript">
$(document).ready(function(e) {
// for file upload button	
 initFileUploads();
	$("header").addClass("bdrb-none");
	$(".ul-login").hide();
	$("#nInbox").addClass("bdr-none");
	 $("#nProject").hide();
	 $("#nTutuor").hide();
   
});
</script> 

</head>
<body>
 
<!-- Top Navigatin Section --><!-- #BeginLibraryItem "/Library/top-navigation.lbi" -->
<header>
<nav id="top-nav">
<h2 class="fl"><a href="index.html">Teachity</a></h2>
<ul class="fr ul-login">
<li><a href="login.html">Login</a> </li>
<li>|</li>
<li><a href="registration.html">Register</a></li>
<li>|</li>
<li><a href="contact_us.html">Contact Us</a></li>
<li><a href="#" class="npdr"><img src="images/inputs/btn_postProject.png" alt="Post a Project" width="148" height="38"></a></li>
</ul>

<ul class="fr ul-logout">
<li>Welcome Time Cooper,  </li>
<li><a href="index.html" class="npdr">logout</a></li>
</ul>
<div class="clear"></div>
</nav>
</header><!-- #EndLibraryItem --><!-- Main Navigation --><!-- #BeginLibraryItem "/Library/navigation.lbi" --><nav>
<nav>
<ul class="fl"> 
<li id="nMyaccout"><a href="#">MY ACCOUNT </a></li>
<li id="nMyProjects"><a href="#">MY PROJECTS </a></li>
<li id="nInbox"><a href="#">INBOX </a></li>
<li id="nProject"><a href="#">PROJECTS </a></li>
<li id="nTutuor" class="bdr-none"><a href="#">TUTORS</a></li>                                          
</ul>

<!-- For Seach Option -->
<div class="tuter-search fr">
<div class="fl"><img src="images/inputs/tuter-s-1.png" width="85" height="29" /></div>
<div class="fl"><input type="text" id="" /></div>
<div class="fl"><input type="button" id="" /></div>
</div>
<div class="clear"></div>
</nav>

</nav><!-- #EndLibraryItem --><section>
<article>
 <div class="loginpnl tutor-pro paynow fl">
 <h2>My Credits </h2>
 <h5 style="font-size:21px; text-align:center; padding-top:200px"> Your Payment is Successful <br />
Your package is upgraded</h5>
  

 
 
</div> 
 
<div class="loginpnlR loginpnl  fr" style="padding-top:25px">
 
<h5>Credit packages</h5>
<table>
<tr>
<th width="90px" align="left">Package <br /> Name </th>
<th width="56" align="center">Price </th>
<th width="130" align="center">Number of Credits</th>
<th width="110" align="center">Credit Status</th>
<th width="72" align="center">Expiry</th>
</tr>
<tr>
<td align="left">Basic</td>
<td align="center">10$</td>
<td align="center">25</td>
<td align="center">20 left</td>
<td align="center">29 FEB</td>
</tr>
<tr>
<td align="left" >Gold</td>
<td align="center">20$</td>
<td align="center">35</td>
<td align="center">0 left</td>
<td align="center">Expried</td>
</tr>
<tr>
<td align="left" >Gold</td>
<td align="center">20$</td>
<td align="center">35</td>
<td align="center">0 left</td>
<td align="center">Expried</td>
</tr>
<tr>
<td align="left" >Gold</td>
<td align="center">20$</td>
<td align="center">35</td>
<td align="center">0 left</td>
<td align="center">Expried</td>
</tr>
<tr>
<td align="left" >Gold</td>
<td align="center">20$</td>
<td align="center">35</td>
<td align="center">0 left</td>
<td align="center">Expried</td>
</tr>
<tr>
<td align="left" >Gold</td>
<td align="center">20$</td>
<td align="center">35</td>
<td align="center">0 left</td>
<td align="center">Expried</td>
</tr>



</table>
<h5>Bye Credits</h5>
 <label>Package</label> 
  <div class="ddl"> 
  <select id="ddl_country" class="styled"> 
   <option>--Select--</option>
  </select>
  </div> 
 <div class="clear"></div>
 <input type="submit" class="btn_payprocee" />

</div>
 
 <div class="clear"></div>
 </article>
 </section><!-- #BeginLibraryItem "/Library/footer.lbi" --><footer>
<section>
<nav class="fl">
<ul>
<li><a href="index.html" class="npdl">Home</a> </li> 
<li>|</li>
<li><a href="#">About</a> </li> 
<li>|</li>
<li><a href="#">Terms</a> </li> 
<li>|</li>
<li><a href="#">Help</a> </li> 
<li>|</li>
<li><a href="#">Privacy</a> </li> 
<li>|</li>
<li><a href="#">Sitemap</a> </li> 
<li>|</li>
<li><a href="#">Contact</a> </li> 
<div class="clear"></div> 
</ul>
<p>© 2012 Teachity.  All Rights Reserved.</p>
</nav>

<address class="fr">
<p><a href="#"><img src="images/icons/facebook.png" width="16" height="16" alt="facebook"/></a><a href="#"><img src="images/icons/taveet.png" width="16" height="16" alt="taveet"/></a>
<a href="#"><img src="images/icons/flicker.png" width="16" height="16" alt="flicker"/></a>
<a href="#"><img src="images/icons/youtube.png" width="16" height="16" alt="youtube"/></a>
Follow us  </p>
<p>Website By : <a href="http://newmediaguru.co.uk"> New Media Guru</a></p>
</address>

</section>
<div class="clear"></div>
</footer><!-- #EndLibraryItem --><div class="clear"></div>
</section>
</article> 


</body>
</html>
