{% extends "base.html" %}
{% block title %}Teachity: About{% endblock %}
{% block content %}
<h2>About Teachity</h2>
<p>Hi, thanks for visiting Teachity! My name is <a href="http://www.linkedin.com/pub/maclane-wilkison/13/70a/677">MacLane Wilkison</a> and I'm the guy behind the curtain. I built Teachity for YOU - if you're a learner I want to help you to find the best tutor possible and if you're a tutor I want to help you find engaged and interested clients. Hopefully, you'll find what you're looking for on Teachity. If not, shoot me a message and I'll try to make things right - even if that means pointing you towards another site or service.</p>

<p>We're brand new and always looking to improve and add new features so if you have any suggestions or feedback, please send me an <a href="{% url contact_form %}">email</a> or contact me directly on <a href="https://twitter.com/MacLaneWilkison">Twitter</a>. Thanks and I hope you enjoy the site!</p>
{% endblock %}
