{%extends "loggedin.html" %}
{% block title %}Frequently Asked Questions{% endblock %}

{% block content %}
<div class="row-fluid">
    <h2>Frequently Asked Questions</h2>
        <p><strong>Why isn't the video/audio in my classroom working?</strong></p>
        <ul>
            <li>Make sure you're using Google Chrome. WebRTC, the video chat interface Teachity uses, only works on Google Chrome at the moment. Other browsers should be adding support soon</li>
            <li><a href="https://www.google.com/intl/en/chrome/browser/">Check here</a> to install the latest version of Google Chrome</li>
            <li>Close any other open applications that may be slowing your computer down</li>
            <li>If it still isn't working, message your tutor and schedule an appointment via <a href="http://www.skype.com">Skype</a></li>
        </ul>
        <p><strong>Can I use Teachity on my phone or mobile device?</strong></p>
        <p>It depends on the device. We're working hard to add official support for the iPhone, iPad, and Android devices so stay tuned!</p>
{% endblock content %}
