{% extends "base.html" %}


{% block main_navigation %}
<!-- Main Navigation --><!-- #BeginLibraryItem "/Library/navigation.lbi" -->
<!--<br />
<nav>
<nav>
<ul class="fl"> 
<li id="nMyaccout"><a href="#">MY ACCOUNT </a></li>
<li id="nMyProjects"><a href="#">PROJECTS </a></li>
<li id="nInbox"><a href="#">INBOX </a></li>
<li id="nTutuor" class="bdr-none"><a href="#">TUTORS</a></li>                                          
</ul>


<div class="tuter-search fr">
<div class="fl"><img src="{{ STATIC_URL }}images/inputs/tuter-s-1.png" width="85" height="29" /></div>
<div class="fl"><input type="text" id="" /></div>
<div class="fl"><input type="button" id="" /></div>
</div>
<div class="clear"></div>
</nav>

</nav>-->
{% endblock %}
